* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html, body {
  height: 100%;
}

body {
  max-width: 960px;
  margin: 0 auto;
  min-width: 250px;
  padding: 30px;
  background-color: #ecf0f1;
}

.Title {
  background-color: #E67E22;
  color: #FFF;
  font-size: 36px;
  padding: 8px 30px;
  font-weight: bold;
  margin: 0 -30px 10px;
  position: relative;
  border-radius: 3px;
}

.bus-stop-list {
  position: relative;
  padding: 15px 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.bus-stop-list::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  left: 1px;
  height: 100%;
  width: 4px;
  background-color: #e67e22;
}

.list-group-item {
  border: 0;
  background-color: #ecf0f1;
}

.selected-stop {
  font-weight: bold;
  /* @include chk(#e67e22, "\f00c"); */
}

.selected-stop::after {
  line-height: 2;
  position: absolute;
  z-index: 499;
  font-family: 'fontawesome';
  content: "\f057";
  bottom: 0;
  right: 37px;
  font-size: 1.9em;
  color: #e67e22;
}

.glyphicon {
  display: none;
}

.bus-selector, .search-by-opts {
  color: #fff;
  background-color: #3498DB;
  border-color: #2980D9;
  border-radius: 3px;
}

.btn-direction {
  color: #e67e22;
  background-color: #ecf0f1;
  border-color: #D35400;
}

.btn-direction:hover {
  color: #fff;
  background-color: #e67e22;
  border-color: #D35400;
}

.btn-direction:active, .btn-direction.active {
  color: #fff;
  background-color: #e67e22;
  border-color: #D35400;
}

.btn-direction:active:hover, .btn-direction.active:hover {
  color: #fff;
  background-color: #D35400;
  border-color: #D35400;
}

.btn-direction.disabled:hover, .btn-direction[disabled]:hover {
  background-color: #e67e22;
  border-color: #D35400;
}

.btn-direction .badge {
  color: #e67e22;
  background-color: #fff;
}

.btn-selector {
  color: #fff;
  background-color: #3498DB;
  border-color: #2980D9;
}

.btn-selector:focus, .btn-selector.focus {
  color: #fff;
  background-color: #2980D9;
  border-color: #2980D9;
}

.btn-selector:hover {
  color: #fff;
  background-color: #2980D9;
  border-color: #2980D9;
}

.btn-selector:active, .btn-selector.active, .open>.dropdown-toggle.btn-selector {
  color: #fff;
  background-color: #2980D9;
  border-color: #2980D9;
}

.btn-selector:active:hover, .btn-selector.active:hover, .open>.dropdown-toggle.btn-selector:hover, .btn-selector:active:focus, .btn-selector.active:focus, .open>.dropdown-toggle.btn-selector:focus, .btn-selector:active.focus, .btn-selector.active.focus, .open>.dropdown-toggle.btn-selector.focus {
  color: #fff;
  background-color: #2980D9;
  border-color: #2980D9;
}

.btn-selector .badge {
  color: #3498DB;
  background-color: #fff;
}

footer a:link, footer a:visited, footer a:active {
  color: #fff;
  font-weight: bold;
}

footer a:hover {
  color: #3498DB;
  text-decoration: none;
  font-weight: bold;
}

li {
  cursor: pointer;
  /*cursor: hand;*/
}

.search-by-opts, #bus-list, .bus-selector {
  margin-right: 10px;
  margin-bottom: 10px;
}

#content {
  padding-bottom: 1px;
  /* Height of the footer element */
}

.wrapper {
  min-height: 100%;
  position: relative;
}

.direction-opt {
  vertical-align: top;
}

.loading-bar {
  color: #fff;
  background-color: #3498DB;
  font-family: Consolas, Menlo, Monaco, monospace;
  font-weight: bold;
  font-size: 15px;
  opacity: 0.8;
}

.loading-bar span {
  display: inline-block;
  animation: pulse 0.4s alternate infinite ease-in-out;
}

.loading-bar span:nth-child(odd) {
  animation-delay: 0.4s;
}

@keyframes pulse {
  to {
    transform: scale(0.8);
    opacity: 0.5;
  }
}

footer {
  background-color: #E67E22;
  color: #FFF;
  font-size: 12px;
  padding: 8px 30px;
  font-weight: bold;
  margin: 0 -30px 10px;
  position: absolute;
  border-radius: 3px;
  position: relative;
  bottom: 0;
  height: 45px;
}
