* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  max-width: 960px;
  margin: 0 auto;
  min-width: 250px;
  padding: 30px;
  background-color: #ecf0f1;
}

.selected {
  font-weight: bold;
}

#cd-timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;
}

#cd-timeline::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: #e67e22;
}

.glyphicon {
  display: none;
}
